[2016-06-08 09:37] geez0x1 opened #1 "Linear transfer function DOB jointObj field"
The jointObj field in the "Linear transfer function DOB" field is still
active while the 'load from data' checkbox is enabled; this means that
it needs to contain valid data.

Solve this by saving the jointName along with the resulting transfer
functions, inside the .mat file (getLinearDOB_fromData())

[2016-06-08 12:22] geez0x1 opened #2 "Naming inconsistencies"
- People's names (like Paine)
- The word 'continuous' in the models (they are all continuous)

[2016-06-08 12:25] joernmalzahn opened #3 "Handling of direct feedthrough in state space models"
The direct feedthrough is sometimes hardcoded to zero. That might cause problems. Sometimes the direct feedthrough is completely ommitted in the output vector. Commonly the direct feedthrough is denoted by D. However in getDynamicsMatrices the output variable D has a different meaning. That is confusing.

[2016-06-15 14:57] joernmalzahn opened #4 "Review Templates"
Are all template files really necessary? Or are some obsolete?
- getStateSpace.m can be implemented in genericJoint class
- getNonlinearDynamics_multiple.m and getNonlinearDynamics.m seem to be redundant

[2016-06-15 15:17] geez0x1 commented on #4
You're right on `getStateSpace()`. The other ones were introduced to ease the development of the jointBuilder a bit; it should be possible to merge `getNonlinearDynamics` and `getNonlinearDynamics_multiple`. I've assigned this bug to me.

[2016-06-16 09:31] geezIIT commented on #4
`getStateSpace()` has been removed and is implemented in `genericJoint`. As for the nonlinear dynamics implementations, all three files:
- `getNonlinearDynamics`
- `getNonlinearDynamics_multiple`
- `getNonlinearDynamics_none`

have been merged into a single `getNonlinearDynamics` template. Thus marking this as solved.

[2016-06-16 09:31] #4 closed, assigned to geez0x1

[2016-06-16 09:34] geezIIT commented on #2
Model names have been fixed and linear and nonlinear models moved to their respective separate directories in `model/linear/` and `model/nonlinear/`.

[2016-06-16 09:56] geezIIT opened #5 "PI-LQR controller is incomplete"
The `PI-LQR Full Measured State` controller appears to be incomplete. It should either be completed or removed.

[2016-06-16 11:14] geezIIT opened #6 "Position-dependent viscous friction model is unfinished"
Like the title states, the position-dependent viscous friction model is unfinished:
`model/nonlinear/viscous_pos_dep.m`

[2016-06-16 11:20] geezIIT opened #7 "Function result saving to .mat files"
Functions like `getLinearDOB`, `getLinearDOB_fromData`, `getKalman`, `getObserver`, `get_controlled_closed_loop`, and `design_DOB_controller` should either all save their results to .mat files in a consistent way, or not at all (to be handled by the caller).

[2016-06-17 08:14] geezIIT commented on #2
Some of the functions in `tools/` could use more informative names

[2016-07-25 13:36] geez0x1 commented on #5
This controller was moved to the 'experimental controllers' in the `environment_interaction_input` branch

[2016-07-25 13:36] #5 closed, assigned to joernmalzahn

[2016-07-25 13:37] #2 closed, assigned to nobody

[2016-07-26 07:01] geez0x1 commented on #1
Fixed in 7b6b60a907d2a22faf8b4a24ee95f46b09327147.

[2016-07-26 07:01] #1 closed, assigned to nobody

[2016-07-26 08:33] geez0x1 commented on #7
Fixed in 1b1d3b0afdafe14478b212c17fbe4b92d1395df3 and faf63fcb1d27ed61a75ce0d873bd4ace0008210e. The functions `getLinearDOB`, `getLinearDOB_fromData`, and `design_DOB_controller` now do not ask to save their results any more, since it causes problems when calling these functions from Simulink block masks. All saving should be handled by the caller.

[2016-07-26 08:33] #7 closed, assigned to geezIIT

[2016-07-26 09:07] geez0x1 opened #8 "genericJoint::draw_speed_torque_curve() needs work"
The function `genericJoint::draw_speed_torque_curve()` is poorly documented and contains magic numbers. It should either become a tool (in `tools/`) or properly developed if it is to be part of `genericJoint`.

[2016-07-26 09:26] geez0x1 commented on #3
Hardcoded zero fixed in 819283c671ca3188eeb4b0aed307d2d324790039 (didn't cause problems because in continuous-time, D is always zero)

[2016-07-26 09:28] geez0x1 commented on #3
I agree that the definition of `D` in `getDynamicsMatrices` is confusing. An output like `A,B,C,D,I,D(damp),K` would be better. Any thoughts on how to rename the damping `D`?

[2016-07-28 09:53] geez0x1 opened #9 "Torque-jerk dynamics for non-fixed output systems are not correct"
Torque-jerk dynamics for non-fixed output systems are not correct, they lead to unstable dynamics due to the integrating pole at zero to be moved slightly into the positive real plane.

Expressing the outputs in only torque and jerk cannot work, since it's impossible to infer the overall position of the system from those variables (as it's not connected to ground anywhere).

**Please see comment b

[2016-08-08 08:40] geezIIT opened #10 "bode_tuy phase correction"
`bode_tuy` corrects phase so that it starts within -90...90 deg, however it does so by looking at the first entry in the phase, the frequency of which is determined by the sampling frequency.

This generally works okay for simulations, but when applied to experimental data the first part of the frequency spectrum might not be excited, so the bode plot for those frequencies will contain garbage.

F

[2016-08-08 09:01] geezIIT commented on #9
There was an issue with the definition of the transformation matrix T. (x = T \* x_bar, not the inverse). This was fixed in fe04e4be0ad32831bf45cd3c7c59a82a225a5a6e.

[2016-08-08 09:01] #9 closed, assigned to nobody

[2016-08-22 12:09] geezIIT commented on #10
This should be fixed in fce5bb0abec8787dceea75994289d1237ec2b15e and f9f5043191e78d71f674d16cae1954916d843d32. ~~We still assume the phase at the start of the ROI is within 90 deg.~~ The phase correction has been disabled as it seems to be fixed now that phase is unwrapped properly.

[2016-08-22 15:58] joernmalzahn commented on #10
I would suggest to remove the phase correction in this function. If the phase does not make sens, it is typically the nonsinusoidal data to blame  (usually transients, offsets, state convergence ) and not the fft.

Moreover, the assumption that the phase has to start between 0 and -90° is rather restrictive. The famous double integrator, that one wishes to achieve in inverse dynamics control will

[2016-08-22 16:02] geez0x1 commented on #10
As stated above, it was already removed, as properly unwrapping solved the issues for which it was created in the first place.

[2016-08-22 16:02] #10 closed, assigned to geezIIT

[2016-10-31 14:16] geez0x1 commented on #8
@joernmalzahn: AFAIK this is now removed from genericJoint. Correct?

[2016-10-31 14:16] geez0x1 opened #11 "Missing printpdf function in dataSheetGenerator"
[code]

[2016-11-07 07:56] geezIIT opened #12 "Output side state"
The output side state is currently named q_b (for 'bar'). However perhaps to be more standard we can rename this to q_l (for 'load'). @joernmalzahn Agreed?

[2016-11-07 18:26] joernmalzahn commented on #11
Fixed.

[2016-11-07 18:26] #11 closed, assigned to joernmalzahn

[2016-11-07 18:28] joernmalzahn commented on #8
This function has been removed from the generic joint class, yes. There is a new dataSheetGenerator class that handels torque speed curve generation and more things now.

[2016-11-07 18:28] #8 closed, assigned to joernmalzahn

[2016-11-09 12:16] geez0x1 commented on #12
This has been decided and will be changed as proposed.

[2016-11-09 12:17] geez0x1 opened #13 "Quantisation"
One essential feature is missing; quantisation. It will be added, for the (encoder-based) measurements at least.

[2016-11-09 12:19] geez0x1 opened #14 "Tag v0.2"
@joernmalzahn I would like the current state (with datasheetgenerator, before additional features) as v0.2. Agreed?

[2016-11-09 12:49] geez0x1 opened #15 "Recovered Stateflow Charts"
The `Recovered Stateflow Charts` issue keeps popping up, despite the `deleteStateflowChart.m` code.

Errors that can be seen while closing models relate to the same issue:
[code]

[2016-11-09 13:32] geez0x1 commented on #13
For each position/velocity we have e.g. `LinkPos`, `LinkPosNoNoise`, `LinkVelFiltered`, and `LinkVelNoNoise`, where `LinkVelNoNoise` is in fact without both noise and filtering. The velocities come from the corresponding states in the dynamics equations.

In order to add quantisation, one cannot simply quantize the exact value of the velocity, because in practice, the velocity is calculated by sub

[2016-11-09 13:32] geez0x1 commented on #13
We might also want to rename "NoNoise" to something like "clean" or "real"

[2016-11-09 13:55] geez0x1 opened #16 "Use Tustin approximation for discretization of filters throughout"
Tustin approximation usually leads to much better results than the standard zoh method. Change this in the Simulink models and whereever else this is still using zoh.

[2016-11-09 14:21] geez0x1 commented on #13
I have added quantisation in 6b607dc6419c640225f9f2e91de2821d446a4f51

[2016-11-09 14:23] #13 closed, assigned to geez0x1

[2016-11-09 15:31] geez0x1 commented on #12
Done in commits:
6c67ab6afb67ce6a1cfa9425b6027726c95f0b69
1f3a4fa22aecd09350f187c41cf1e268635f8b49
f1167f9d7ed61ecd20f3a7ad2e2e0a1267e14ba9

[2016-11-09 15:31] #12 closed, assigned to geez0x1

[2016-11-09 15:37] geez0x1 commented on #16
This has been checked and is fine everywhere (apart from some continuous-time blocks in experimental controllers, which still have to be made discrete-time in the first place)

[2016-11-09 15:37] #16 closed, assigned to geez0x1

[2016-11-09 15:41] geez0x1 commented on #6
Deleted from master in 29b83595b35479225094e40afe27349e01d220f4, now has its own branch, to be developed in due time.

[2016-11-09 15:45] geez0x1 commented on #14
@joernmalzahn It would be good to resolve #15 first though. I have no idea where to start, can you do it?

[2016-11-10 12:40] geezIIT opened #17 "Sanity check on jointBuilder arguments"
Not all `buildJoint` arguments are checked sufficiently. It's possible to specify models that do not exist, for example.

[2016-11-11 12:35] geez0x1 commented on #17
Fixed in 7daef4c6076139ae645105a3cd09c36eb0005edf.

[2016-11-11 12:35] #17 closed, assigned to geezIIT

[2016-11-11 12:41] geez0x1 opened #18 "`verbose` and `debug` flags of genericJoint are currently unused"
@joernmalzahn Do we want to use these in the future or should we remove them for now?

[2016-11-13 19:33] joernmalzahn commented on #6
Hmm, this might go into the ripple model?

[2016-11-13 19:35] joernmalzahn commented on #18
I'd say they can be removed in the genericJoint class.

[2016-11-13 19:38] joernmalzahn commented on #14
Does not look simple. Having a hard time to reproduce it. It might be a Simulink Version Issue. Will take some time, but I do agree, we have to fix this.

[2016-11-13 19:40] joernmalzahn commented on #3
What about an 'R'? The matrix describes a resistive effect in the electroanalogous sense.

[2016-11-13 19:42] joernmalzahn commented on #15
Does not look simple. Having a hard time to reproduce it. It might be a Simulink Version Issue. Will take some time, but I do agree, we have to fix this.

[2016-11-14 13:58] geezIIT commented on #3
That's nice. Let's do that.

[2016-11-14 13:59] geezIIT commented on #6
Yeah it may be possible to merge this with the more unified ripple model as a variant that depends on speed, I'll have to see.

[2016-11-14 15:16] joernmalzahn commented on #3
Would we then also renam all damping parameters? Otherwise we end up with a matrix R that contains a plenty of d_xy's.

[2016-11-14 16:12] geez0x1 commented on #3
That's a good point.. I think renaming all the damping coefficients is less feasible. What if we simply rename it `D_damp`?

[2016-11-15 13:31] geezIIT opened #19 "Torque-jerk models to their own branch"
The torque-jerk models, although working now, are mostly unused and not documented up to the standard of the rest of the toolbox. Perhaps we can move them to their own branch, so they can be added later when they are up to standards. @joernmalzahn ?

[2016-11-15 13:39] geezIIT opened #20 "Position input as external disturbance for locked-output models"
Currently the external disturbance input is `tau_e`, the external torque acting on the link. In the cases where the link position is imposed (or, more narrowly, locked at zero), this input obviously does nothing.

An idea is to replace it with an imposed link position input for the `output_fixed` models. This is useful for testing things like actuator transparency. It can be achieved quite easily

[2016-11-15 13:45] geezIIT commented on #18
Fixed in 1a9cfcd2d1bd53a02e80064c7138c08f8a5d46a6

[2016-11-15 13:45] #18 closed, assigned to nobody

[2016-11-15 13:46] geezIIT commented on #20
(in the light of tagging v0.2 we might also move this to its own dev branch)

[2016-12-05 09:16] geez0x1 commented on #15
@joernmalzahn Any progress on this?

[2016-12-05 09:18] geez0x1 opened #21 "Voltage limits"
Feature proposal; Adding voltage limits. Currently we only limit the torque, while based on the back-EMF and the max applicable voltage we could/should also limit it when it cannot be realised.

[2016-12-05 10:55] joernmalzahn commented on #15
No.

[2016-12-05 10:56] joernmalzahn commented on #21
I have the model for the electrical subsystem implemented. Just have
    to clean it and make it ready for the toolbox. This can do the job.

[2016-12-05 10:59] geez0x1 commented on #21
Does that include the electrical dynamics? If so, that significantly impacts the simulation speed. It's nice to have but we should also have the option to include voltage limits without simulating the full electrical dynamics.

[2016-12-05 11:04] joernmalzahn commented on #21
Yes, that is what I meant by "electrical subsystem". The part that
affects the simulation speed a lot is the consideration of inductance
that introduces small time constants of the system dynamics. In many
cases these dynamics are fast enough to be neglected. In that case the
electrical subsystem models the effect of back-emf, winding resistance
and eventually also thermodynamics.

Am 05.12.2016 u

[2016-12-05 12:27] geez0x1 commented on #21
OK, that's what I meant. In that case, feel free to add it to the toolbox (in its own branch please due to tagging v0.2 soon). I'm currently working on a unified torque ripple model which might make it into v0.2, depending on when #15 gets fixed.

[2016-12-11 16:50] joernmalzahn opened #22 "Unit Test for Symbolics Generation Breaks"
New parameters for ripple model break unit test for symbolics generation.

[2016-12-11 21:09] joernmalzahn commented on #22
This issue was fixed in 48f87a2

Actually all unit tests broke... the addition of spring damping broke the genericJoint test.
Renaming of the linear models broke the jointBuilder tests.
Those tests are adjusted now.

[2016-12-11 21:09] #22 closed, assigned to nobody

[2016-12-12 06:29] geez0x1 commented on #22
Oops! My bad. Thanks for fixing.

[2016-12-12 09:16] joernmalzahn commented on #3
Direct Feedthrough is implemented now. It is called D in the function signature. Damping matrix is R. Damping parameters are still d_xy's.

[2016-12-12 09:16] #3 closed, assigned to nobody

[2016-12-12 14:17] joernmalzahn commented on #21
Electrical subsystem models are implemented now in genericJoint and as Simulink block.
The genericJoint class has a new abstract method getElectricalDynamicsMatrices. Two implementations are available. One static model incorporating back-emf but neglecting winding inductance (used as default). One including the winding inductance (small simulation time steps needed).
The simulink block makes use o

[2016-12-12 14:17] #21 closed, assigned to nobody

[2016-12-12 14:18] joernmalzahn opened #23 "Documentation of Simulink blocks"
At the moment we do not use the block documentation field in any block. We should change that.

[2016-12-12 14:22] joernmalzahn opened #24 "Examples"
We have just very few not well documented examples. We should improve that.

[2016-12-12 15:42] joernmalzahn commented on #19
Done.

[2016-12-12 15:42] #19 closed, assigned to nobody

[2016-12-12 15:43] joernmalzahn commented on #6
Any update here?

[2016-12-12 15:45] joernmalzahn commented on #20
Agree, it is useful and agree, maybe after tagging v0.2.

[2016-12-13 16:11] joernmalzahn commented on #24
We have a nice little gui now, that allows a user to select examples stored in examples/matlab and examples/simulink. The gui automatically looks for existing examples.

The gui lets you open and run an example. The description of the example is shown directly in the gui.

We just need to implement some examples now.

[2016-12-28 10:42] geez0x1 commented on #6
I thought about how to include it in the `torque_ripple` function but it was a bit unnatural, since it doesn't just 'oscillate' around zero mean (w.r.t. speed) but actually has an offset, unlike the torque ripple sources. I don't think we have an immediate need for this model though.

[2017-01-07 12:57] joernmalzahn opened #25 "Empty defaults of ripple models break Simulink block execution."
When running a Simulink model with a joint block (e.g. full_dyn), the following error message appears:

 Parse error: Expression or statement is incomplete or incorrect.

Function 'JointModel/nonLinDynamicsFcn' (#57.752.753), line 31, column 20:
";"
Launch diagnostic report.
Component: MATLAB Function | Category: Coder error

[2017-01-10 09:45] geezIIT commented on #25
I fixed this in a slightly nicer way, where it simply prints empty arrays like the original parameters when no ripple sources are specified. Thanks for finding the bug.

[2017-01-10 09:45] #25 closed, assigned to nobody

[2017-03-02 09:28] geez0x1 commented on #14
v0.2 tagged: I has a lot of new features and improvements compared to v0.1, and it doesn't seem like we can consistently produce #15, let alone resolve it for now.

[2017-03-02 09:28] #14 closed, assigned to nobody

[2017-03-02 09:32] geez0x1 commented on #6
The dev branch for this has been renamed to `dev_viscous_pos_dep`, to be consistent with other dev branches.

[2017-03-02 10:02] geez0x1 opened #26 "dataSheetGeneratorTest fails"
[code]

[2017-03-07 09:13] joernmalzahn opened #27 "jointBuilderTest fails"
================================================================================
Error occurred in jointBuilderTest/testNoFrictionModels and it did not run to completion.

    ---------
    Error ID:
    ---------
    ''

    --------------
    Error Details:
    --------------
    Error using jointBuilder/buildJoint (line 99)
    jointBuilder.buildJoint error: Linear model 'full_dyn_no_friction'

[2017-03-07 09:14] joernmalzahn commented on #27
Also genericJointTest fails, but that might have the same reason.

[2017-03-07 10:28] #27 closed, assigned to nobody

[2017-03-07 10:34] geezIIT commented on #27
I made a different fix at the same time which is more dynamic (using paths as opposed to string manipulation), so I merged using that in 17cb3ec681242944af45dd1ec19eb2ea88d4b1e6.

[2017-03-07 10:36] geezIIT commented on #26
This still crashes for me:

[code]

[2017-03-10 10:19] joernmalzahn opened #28 "It would be nice to have motor current quantization"
We have output quantization for the joint model but do not consider input quantization.

[2017-03-10 10:23] joernmalzahn opened #29 "Parameter file using reflected inertia?"
At the moment the parameter files list the ineratia and friction values reflected to the output.

As a result, if we wish to simulate the same motor with another transmission ratio, we would have to manually account for the updated inertia and friction values as well.

Question: wouldn't it make sense to put the inertia and friction values on the motor side into the datasheet?

To maintain backwar

[2017-04-11 07:20] geez0x1 opened #30 "Coulomb smoothness function using tanh"
We're currently using `atan(1000 * v) / (pi/2)`; using `tanh(500 * v)` is cleaner, gives approximately the same slope around `v=0` and is a function that goes to exactly -1/+1 within reasonable values of `v`.

[2017-04-12 11:37] joernmalzahn commented on #29
I proposed a parameter renaming scheme that can now be found in the branch parameter_renaming.
The parameters are now the fixed physical parameters. That means e.g. for the rotor and gearbox inertia, it is the true inertia of the rotating object. The parameters are called Im_m and Im_g now. The apparent load side reflected inertias are still named I_m and I_g and provided through public genericJoi

[2017-04-12 11:38] joernmalzahn commented on #30
No objections from my side.

[2017-04-12 11:48] #26 closed, assigned to joernmalzahn

[2017-05-01 06:51] geez0x1 opened #31 "simulinkLibraryTest fails on MATLAB R2015b"
@joernmalzahn I think you have upgraded your installation of MATLAB, since Simulink complains about `simulinkBlockLibraryTest` being for a newer version of MATLAB on my machine (which runs 2015b). This in itself shouldn't be a problem, however the test fails for me and I can't figure out why. `jObj` is defined within the test function, the same place as `sim()` is called. Maybe 2015b doesn't pass

[2017-05-01 07:06] geez0x1 commented on #30
Fixed in 3634534a92af612fb3b7de9305b1f7a4b3cd7513.

[2017-05-01 07:06] #30 closed, assigned to geez0x1

[2017-05-01 07:43] geez0x1 commented on #29
I just had a look at this. There is one issue; `handleMatlabFunctionBlock` does not call the functions required for `d_cm` etc, but only looks at members. This breaks e.g. Coulomb friction. This function can be modified to call those functions, but perhaps a better solution is to give `genericJoint` a function `updateDependentParameters` (or something) that calculates all of those fields, and eith

[2017-05-01 07:48] geez0x1 commented on #28
Under development in Jörn's test branch, added in 28ac2f9b3419bedda91b3d99d3951f124533aaff.

[2017-05-03 07:55] geezIIT opened #32 "Documentation issue in linear models"
The linear models list (in-line code documentation) the input as [tau_m, tau_e], while in fact they are [i, tau_e], i.e. current inputs.

This may also exist in other places.

[2017-06-07 11:43] geezIIT commented on #31
Not seeing this bug any more. Closing.

[2017-06-07 11:43] #31 closed, assigned to nobody

[2017-06-27 09:38] joernmalzahn opened #33 "getFFt produces an output but no error for sig and t being unequal length"
It is possible to call getFFt with a time and signal vector of different lengths.
However, the output is not clear in this case. Likely the user has done a mistake when this happens and an error should be issued.

[2017-06-28 13:23] joernmalzahn opened #34 "Gearbox ratio in electric subystem models"
The file electric_dyn_zero_inductance.m includes the transmission ratio.
The model implemented in electric_dyn.m does not.

Hence the two electric dynamics models have different outputs. This shall not be.

[2017-06-28 13:27] joernmalzahn commented on #32
Ok, let's discuss what we wish to have there. Having a consistent torque interface to the mechanical subsystem models would make sense in my opinion.

This way the electrical subsystems that are actually the torque generators could have voltage as input and torque as output (before or after gearbox, i.e. where should the transmission ratio enter the game?).

[2017-08-24 09:01] VishnuDevA7 opened #35 "Nonlinear torques are not added in the right way in the state-space structure"
The torques from the nonlinear model has to be multiplied with a suitable gain matrix in order to be added to the states

[2017-08-24 16:45] geez0x1 commented on #35
Nice find :) Fixed in 40d092765bcdc5090b6f07a8eecda801c9a2974c by (ab)using the B matrix inside the block (which saves generating a properly-dimensioned matrix):

`B(:,1) / (k_t * n)`

[2017-08-24 16:47] geez0x1 commented on #35
I just realised my fix is incomplete. Let me work on it some more.

[2017-08-24 16:57] geez0x1 commented on #35
Correct fix in 07557ad. Building `B_nonlinear` in the block mask as follows:
`B_nonlinear = [zeros([size(I,1),1]); 1./diag(I)];`
which changes size depending on the size of `I` and thus on the chosen model.

[2017-08-24 16:57] #35 closed, assigned to nobody

[2017-09-04 19:50] geez0x1 commented on #35
@VishnuDevA7 Can you confirm this is fixed for you?

[2017-09-05 07:55] VishnuDevA7 commented on #35
Yes, its fixed :)

[2017-09-19 13:18] joernmalzahn commented on #34
![](https://github.trello.services/images/mini-trello-icon.png) [Fix gearbox ratio in electric subystem](https://trello.com/c/jhWdeWv9/1-fix-gearbox-ratio-in-electric-subystem)

[2017-09-19 13:23] joernmalzahn commented on #33
![](https://github.trello.services/images/mini-trello-icon.png) [getFFt produces an output but no error for sig and t being unequal length](https://trello.com/c/Owu9jNvZ/2-getfft-produces-an-output-but-no-error-for-sig-and-t-being-unequal-length)

[2017-09-19 14:00] geez0x1 commented on #33
@joernmalzahn What's that?

[2017-09-20 09:28] joernmalzahn commented on #32
![](https://github.trello.services/images/mini-trello-icon.png) [Documentation issue in linear models](https://trello.com/c/sww4BqFb/3-documentation-issue-in-linear-models)

[2017-12-11 11:24] geez0x1 commented on #32
I'm currently working on this in the dev_mechanical_torque_inputs branch.

I agree that having a mechanical torque input is more consistent. As for the jointModel block itself, changing its input to mechanical torque makes current limits weird to implement, so I think those should also move to the electrical model blocks. The delay and noise can stay (useful when not using an electrical model), bu

[2017-12-11 14:50] geez0x1 commented on #32
@joernmalzahn Check out the branch if you have time. I think it is a nice improvement. If you have thoughts let me know otherwise I'll merge it into master sometime soon.

[2017-12-11 16:05] geez0x1 commented on #34
Fixed in 587c5516e5bbb2e0c6a909bb3de9a32a3f60df67. Not closing yet, as that branch is not merged.

[2017-12-11 16:06] geez0x1 commented on #34
What was also missing was a factor 1/L for the q_m_dot input element in the B matrix.

[2017-12-11 16:15] geez0x1 commented on #33
Fixed in 66e1784c607f3a94d895900a492062745564c499.

[2017-12-11 16:15] #33 closed, assigned to nobody

[2017-12-11 16:17] geez0x1 commented on #20
This was added in daf43e4dd50074d42bae444fc49b59ad9e97b04f up to d26537644ae65ec34fdb3afadd2697b7116f3891, and part of v0.6.

[2017-12-11 16:17] #20 closed, assigned to geezIIT

[2018-01-02 15:34] geez0x1 commented on #32
@joernmalzahn Have you looked at this? I'm ready to merge it into master.

[2018-01-03 10:55] joernmalzahn commented on #32
Sorry, didn't manage before the holidays.
So far it looks good to me.

Only jointBuilderTest/testElectricalSubsystem fails. Can you look at it?

It would be good to have also a couple of tests for the new input.

[2018-01-03 10:56] joernmalzahn commented on #32
The error ocurrs in line 277.
         verifyTrue failed.
         --> The value must evaluate to "true".

[2018-01-04 10:52] geez0x1 commented on #32
Hmm, odd. I did go over the tests earlier and updated them. Perhaps I missed this one somehow. Anyway, it's fixed.

I agree more tests are needed. I don't have the time for them now though, perhaps next month. Merging this into master now.

[2018-01-04 10:52] #32 closed, assigned to geezIIT

[2018-01-04 10:55] #34 closed, assigned to nobody

[2018-03-28 06:00] geezIIT opened #36 "MATLAB library backwards compatiblity"
**This is a copy of the original issue in another repo. This is a more appropriate place.**

MATLAB will not (at all, or with complaints after changing some settings) open Simulink library files created in newer versions of MATLAB/Simulink. Case in point (using R2017a):

![screenshot from 2018-03-19 15-01-55](https://user-images.githubusercontent.com/7579312/37600115-a8edba40-2b86-11e8-95aa-c06bcb

[2018-03-28 06:00] geezIIT commented on #36
I had a look around the internet (lots of questions about this). I was hoping to find some model property which we could set to force the file sticking to a certain version (e.g. R2016a), but that doesn't appear to exist.

Unchecking the following checkbox does allow me to load the file, although correct functioning is not guaranteed:
![screenshot from 2018-03-26 12-05-20](https://user-images.gith

[2018-03-28 06:01] geezIIT commented on #36
Resources:
https://it.mathworks.com/help/simulink/slref/save_system.html
https://stackoverflow.com/questions/42033503/how-to-standardize-simulink-mdl-file-saving-method-in-a-source-controlled-projec (useful while we're at it)
https://it.mathworks.com/help/simulink/slref/simulink.exporttoversion.html#bu5axol-4
https://it.mathworks.com/help/simulink/ug/saving-a-model.html

[2018-03-28 06:01] geezIIT commented on #36
In the latest commit in `dev_doc` I have added a file `saveCompatible.m`; it contains a list of essential library files (currently incomplete), checks their `SimulinkVersion`, and if that isn't 8.7 (R2016a), re-saves them. It works quite well.

Perhaps we can expand this to a `prepareRelease.m`, which is ran before merging and tagging new releases on master.

Thoughts?

[2018-03-28 07:05] geezIIT opened #37 "Sampling times and electrical subsystem"
In 96f0024 I have added `Ts_elec`, for the sampling time of the electrical subsystem. The electrical models should use this as their sampling time for computation if input/output delays and possible discretisation.

At the current moment, we have `Ts = 1e-3` and `Ts_elec = 5e-5`. While I think the latter is fine, AFAIK the former is 5e-4 in firmware. Using Simulink RT, it effectively becomes 1e-3

[2018-03-28 07:05] geezIIT opened #38 "cjt_* param files formatting"
The formatting in terms of alignment and number formatting is very messed up in `cjt_` files, compared to e.g. B11/B12/WMBig10k etc.

Note that I have also added `Ts_elec` to them (see #37).

[2018-03-28 12:06] geezIIT opened #39 "d-q current model integration into genericJoint"
- `getElectricalDynamicsMatrices` effectively is moot when using this, the d-q current model is nonlinear
- The function could be modified to return an error stating that the joint was built with nonlinear (d-q) current model
- Replacing it with another function is an option, but ill-advised in my opinion as its output requires giving a state and input. Since the joint object itself is currently s

[2018-03-28 12:37] geezIIT commented on #39
Starting 453ab2d9c55494d84d76a3bb876834311e529858 there is a fully functioning d-q current model in the library. It is a separate block from the regular electrical dynamics block, but in my opinion that's preferred as the differences between the two are rather large and making something that morphs between them will be very involved, with the result being flexible but very complex.

There is still

[2018-03-28 14:25] joernmalzahn commented on #36
Nice work Wes.

I think the automation is the only way to practically deal with the backwards compatibility mess. During block development it seems rather impossible to remain backwards compatible (involves too many clicks...). However, as a final stage before merging a dev branch into the master it could be conceivable .

A release preparation toolkit makes sense, also in general.

[2018-03-28 14:41] joernmalzahn commented on #37
In my opinion, the small sampling time for the electric subsystem makes only sense, if the electrical dynamics is actually used in the model.

The story behind the electrical subsystem dynamics is, that as a toolbox user, I wish to investigate the influence of the non-ideal closed current loop dynamics on the torque control performance. To do that, the sampling times must be about two orders of ma

[2018-03-28 16:26] geez0x1 commented on #37
The option of having the electrical dynamics use `Ts_elec` and the mechanical dynamics use `Ts` is what is currently implemented. Besides computing input/output delay/sampling properly, it also ensures noise values are computed for each new sample.

Alongside, the torque controllers, being discrete time, all use `Ts`, and the current controllers should use `Ts_elec` accordingly. I think that makes

[2018-03-29 07:51] geez0x1 commented on #39
As far as I can tell this is working properly.

[2018-03-29 07:51] #39 closed, assigned to geezIIT

[2018-03-29 08:15] geez0x1 opened #40 "Controllers must be discrete-time"
TODO:
- [X] Make sure all controllers are discrete-time (torque controllers with `Ts`, current controller with `Ts_elec`)

Open questions:
- [X] Current controller integrator is currently implemented as a sum. Do we want to do that in code as well (since the I term is usually very very large compared to the P term)? **No because the user can simply put gain*Ts_elec.**

[2018-03-29 08:26] geez0x1 opened #41 "Documentation of mechanical & electrical model blocks"
In bf60a3a53252ffc03d2f1955f386da3dc52258d5 and 5ada938 I have added documentation to the electrical and mechanical model blocks. @joernmalzahn please have a quick look and close this issue when satisfied.

[2018-03-29 08:56] #40 closed, assigned to nobody

[2018-03-29 08:58] geez0x1 commented on #15
This remains an issue for me even in R2017a.

[2018-04-10 12:42] geez0x1 commented on #37
Current controller is fixed, using ZOH for sampling.

[2018-04-10 12:43] geez0x1 commented on #24
WiP in `dev_doc` branch. Separate issues are tracking the progress of this so closing (since it's not actually an 'issue' so much)

[2018-04-10 12:44] geez0x1 commented on #28
No longer relevant.

[2018-04-10 12:44] #28 closed, assigned to nobody

[2018-04-10 12:45] #24 closed, assigned to nobody

[2018-04-10 12:54] geez0x1 opened #42 "Simulink tests file documentation does not actually work"
The file `cjtSimulinkLibraryTest.m` states the following in its documentation:
[code]
but these commands do not actually work, on my setup at least.

[2018-04-10 12:59] geez0x1 commented on #42
This was due to file names being updated, but documentation and class names not being updated.

[2018-04-10 12:59] #42 closed, assigned to joernmalzahn

[2018-04-10 13:30] geez0x1 opened #43 "Open-loop DOB controller 'do plot' option"
This option appears to be broken, and in my opinion can be removed.

[2018-04-10 18:16] geez0x1 opened #44 "cjt_* param files have very (too) low viscous damping"
The `cjt_*` parameter files have 10x smaller viscous damping than the `CE_Med_ds` param file, which is based on datasheet values, and is *still* underdamped compared to experimental data. This makes joint models based on the `cjt_*` parameter files very hard to control.

These parameter values need to be updated according to experimental data; a good start is using datasheet values.

[2018-04-11 07:46] geez0x1 commented on #44
Interestingly, this is mostly masked by the internal gearbox damping when using non-rigid gearbox models. Only when using rigid gearbox models the difference becomes apparent (poles having damping of 4.56e-03 as opposed to 3.12e-02).

[2018-04-12 14:47] geez0x1 opened #45 "Joint model outputs when using output delays"
At the moment when output delays are set >0, *all* fields are delayed. However, for seeing how well something is tracked you might want to have the non-delayed field (e.g. the *noNoise* fields).

[2018-04-13 08:22] geez0x1 commented on #43
Done.

[2018-04-13 08:22] #43 closed, assigned to geez0x1

[2018-04-13 08:23] #41 closed, assigned to nobody

[2018-04-13 08:23] geez0x1 commented on #41
Good for now. We need to keep moving.

[2018-04-13 08:24] geez0x1 commented on #45
On this note, I have updated all controllers to use the `TorqueFiltered` field as opposed to the `Torque` field, which architecturally makes more sense.

However the point w.r.t. output delays still stands. One can manually shift the signal in post-processing, but that is laborious.

[2018-04-13 08:25] geez0x1 commented on #23
Being worked on in separate issues

[2018-04-13 08:25] #23 closed, assigned to nobody

[2018-04-13 08:28] geez0x1 opened #46 "Computational efficiency with enable blocks"
A number of blocks have functionality that can be disabled. It would make sense to place the related blocks inside submodels with Enable blocks, so increase computational efficiency during simulation.

However this is a bit of a long-term goal, premature optimisation.

[2018-04-17 17:09] joernmalzahn commented on #46
I like the idea. Also I would prefer to clean up the joint bus and rather have just a torque signal, which can be ideal, noisy, delayed or noisy and delayed, depending on some switches. What do you think?

[2018-04-17 17:11] joernmalzahn commented on #45
Hmm, does it make more sense? If I just want to see how the controllers behave in the ideal case, what would I do now?
I am not perfectly happy with the different clones of the same signal in the joint bus, actually. I would prefer to e.g. have only one torque signal in the bus and have it ideal, delayed, noisy or delayed and noisy by configuration of the mechanical subsystem block.

[2018-04-18 06:45] geez0x1 commented on #46
Replying in #45.

Leaving open with enhancement label to include in future refactoring.

[2018-04-18 06:49] geez0x1 commented on #45
For example, PD controllers would not have access to a clean torque signal (one can only set derivative filtering in the controller itself). Assuming there's noise available there is no situation you would give the controller an unfiltered signal. If you want to test the ideal case, currently you'd set delays to zero, noise off, and filter frequency to a "very large" value. This last bit I think w

[2018-05-01 08:14] geez0x1 opened #47 "True torque output when the sensor has internal damping"
Following some testing with internal component damping where I set `d_gl > 0` I found that the current jointBus does not allow to get the true torque in these cases. In the block the torque fields are computed using only the stiffness contribution `k_b * (q_g - q_l)`.

Combined with #45 , we should probably consider redefining the jointBus.

[2018-06-21 08:00] geez0x1 commented on #45
Towards this end I have updated the mechanical joint model block to have all __NoNoise__ output variables denote physical quantities, i.e. unaffected by noise, delays, or filtering. I have also improved the block's help to properly explain all inputs and outputs:

This fixes this issue. What it however does *not* fix is #47: I believe when we redefine the jointBus in a future version we should hav

[2018-06-21 08:04] #45 closed, assigned to geez0x1

[2018-06-21 08:05] geez0x1 commented on #47
Some changes were made to the jointBus (in the "NoNoise" variables) following #45.

That fix does not solve this issue however: I believe when we redefine the jointBus in a future version we should have some clear distinction between "sensed" and "physical" variables. Sensed variables are the ones controllers have at their disposal, but for analysis we obviously want to be able to have the physica

[2018-06-21 08:09] geez0x1 opened #48 "Clean up (remove) old parameter files"
The following parameter files are mostly outdated and can be removed in my opinion, from the `dev_doc` branch that will be mainlined in the foreseeable future.

- B11
- B12
- CE_Big
- WMBig10k
- WMBig10k_ds
- WMBig2300_ds

@joernmalzahn : Would you agree?

[2018-06-21 08:21] geez0x1 commented on #48
@joernmalzahn It would be great if you could fix #38, so when we 'really' release the toolbox we have clean parameter files with it.

[2018-06-21 08:28] geez0x1 commented on #44
In the mean time, the (non-internal) damping parameters for the orange/medium 80:1 actuator have been experimentally identified and those parameters are in the `CE_Med`params in the `CE_Med` branch. Identification results:

[code]

Comparing the relevant sections from `CE_Med` vs `cjt_Orange_80_6000`, also including some other things like inertia, which appear to be pretty close:

[code]

[code]

[2018-06-21 08:55] joernmalzahn commented on #47
Sounds reasonable to me.

[2018-06-21 09:11] joernmalzahn commented on #44
Hmm not quite sure, if I get this correctly. What values do you wish to see in the toolbox parameter files? What is now the conclusion about friction parameters between CE_Med and cjt_Orange? Should they be copied?

The gearbox stiffness seems actually quite reasonable. Remember that the gearboxes stiffen with increasing torque. Typically the approximation is a three segment piecwise linear one. T

[2018-06-25 12:21] geez0x1 commented on #44
The wording 'accurate' datasheet values was a bit unfortunate - what I meant was to base unknown parameters on their datasheet values where available. For example, as I did in `CE_Med_ds` (the datasheet version of `CE_Med`:
[code]
This yielded values which later turned out to be about 15% off from experimental values (40% for Coulomb).

I would suggest that `cjt_Orange_` for 80:1 should get its vi

[2018-06-25 12:25] geez0x1 commented on #44
Please let me know:
- whether you agree with updating `cjt_Orange_` 80:1 using the experimental values;
- where the current viscous/Coulomb friction parameters in `cjt_*` param files came from;
- your thoughts on using scaled copies for the other `cjt_*` param files in `dev_doc`.

[2018-06-25 12:27] geez0x1 commented on #48
5ad23f4

[2018-06-25 12:28] geez0x1 commented on #47
OK. Added enhancement label to this to be included in future refactoring.

[2018-06-25 12:30] geez0x1 opened #49 "Update dummyMotor with standard parameters"
Currently a copy of an old file it seems; some nice round values and proper formatting.

[2018-06-25 12:50] geez0x1 commented on #47
To mostly fix this issue before future refactoring, in 1046504:

[2018-06-25 12:56] geez0x1 commented on #48
Reopening and reverted in 5589953b924bfb32ecc0f9878bc1c1b8900e1569; most current unit tests still depend on the old parameter files which blocks removing them.

[2018-06-25 13:02] geez0x1 opened #50 "Failing unit tests in dev_doc"
[code]

[2018-06-26 05:50] joernmalzahn commented on #44
Fine with me.

As far as possible, scaled datasheet values.

Agree.

[2018-06-26 05:52] joernmalzahn commented on #47
Cool!

[2018-07-04 06:15] joernmalzahn commented on #50
[code]

This one might be the most consequential fail. If the checksum is not computed correctly, the remaining fails might not be meaningful.
Unfortunateley, I cannot reproduce these on my machine. They all pass. Interestingly all but one seem to fail on yours. It might be a version issue and related to the way the checksums are computed. Let's look into that together.

[code]

They fail on my ma

[2018-07-09 09:43] geez0x1 commented on #50
Another point is the following:
[code]
That character encoding is absurd, UTF-8 is the way to go. However, this *should not* have an effect, but with MATLAB you never know..

I had a look at the checksumTest ones first though, if that doesn't work everything else will fail as well like you mentioned. I can confirm that the checksum computed by MATLAB for the file is correct:
[code]
which is the sa

[2018-07-09 11:49] joernmalzahn commented on #44
Updated parameters in: 165954299a09b3a0ac3fa8182a169902704244b7

Double checked motor friction with datasheets. They are correct.
The Coulomb parameters for the gearbox correspond with the no-load starting torque.

For the viscous damping, I used the identified values.

[2018-07-09 13:41] joernmalzahn commented on #48
old parameter files removed, the only remaining issue now is the first test for the simulink library. It crashes because of the newly introduced second sampling time for the electrical subsystem.

[2018-07-09 13:41] joernmalzahn commented on #49
Dummy file removed.

[2018-07-09 13:41] #49 closed, assigned to geez0x1

[2018-07-09 13:44] joernmalzahn opened #51 "Unit test for electrical subsystem block fails"
After removing the old parameter files and introducing the new CJT-ones in the unit tests, this test fails due to sampling time clash with the newly introduced electrical sampling time Ts_elec:

cjtSimulinkLibraryTest/testBuiltJoint

[2018-07-09 13:45] joernmalzahn commented on #48
Closing this one and opened new one #51 for the remaining issue.

[2018-07-09 13:45] #48 closed, assigned to geez0x1

[2018-07-09 13:45] #38 closed, assigned to joernmalzahn

[2018-07-09 13:46] joernmalzahn commented on #37
Is it possible that this did not find its way into the dev_doc branch, where we are currently working (see #51 )

[2018-07-10 11:57] geez0x1 commented on #50
checksumTest now fixed (see referenced issue)

[2018-07-10 12:16] geez0x1 commented on #50
Full output from **runtests('cjtDataSheetGeneratorTest/testTorqueSpeedCurve')**:

[code]

**The problem originates here:**
[code]
It looks like MATLAB is trying to use some outdated stdc++ library that it includes itself, which clashes with my system. I'm not sure *why* it's trying to do that though, since obviously stdc++ is present on the system.

[2018-07-10 12:16] geez0x1 commented on #50
Apparently this issue has been around for 6+ years. Latest thread I could find on it confirms my suspicion:

https://nl.mathworks.com/matlabcentral/answers/329796-issue-with-libstdc-so-6

I'm not sure how to fix it for our users; perhaps a warning will suffice, which I have now added and will commit in a moment:
[code]

[2018-07-10 12:18] geez0x1 commented on #50
After fixing the issue, there are still LaTeX compilation issues on my system. I would guess due to missing LaTeX packages?

[code]

[2018-07-11 15:51] joernmalzahn opened #52 "Warning caused by : Transport Delay block of mechanical subsystem"
The Simulink files throw this warning on the console:
[code]
We should implement the delay, such that Simulink does not feel obliged to throw this warning.

[2018-07-12 11:15] joernmalzahn opened #53 "Kalman observer and Luenberger observer do not find stable gains"
Both, the Kalman block and the Luenbeger block throw this error when inserting the joint class parameter:

![grafik](https://user-images.githubusercontent.com/10830038/42629972-848d3a50-85d5-11e8-9254-9bc352165603.png)

The guess is that the blocks have not been updated after recent interface changes (input / output dimensionality). This way the blocks are unusable.

[2018-07-12 11:25] joernmalzahn commented on #53
I created a new branch to work on this issue:
https://github.com/geez0x1/CompliantJointToolbox/tree/dev_fix_issue_53

In the meantime, I disabled both in the dev_doc branch.

[2018-07-22 15:36] geez0x1 commented on #52
Does this only happen in the DOBs? Probably a consequence of discretisation methods of the filters then.

[2018-07-22 15:37] geez0x1 commented on #47
This should be open for the refactoring part!

[2018-07-22 15:50] geez0x1 commented on #36
I've just updated `saveCompatible.m` to include the new examples. Also, I've updated a few other files in the Simulink examples (openLoop.mdl, openLoop_inputFromFile.mdl and controlBlockDevelopment_generic.mdl) to correctly reference the new CJT library files.

@joernmalzahn Perhaps we can include this in the paper version of the paper? Being at least a bit backwards compatible is important imo.

[2018-07-23 12:34] geez0x1 commented on #50
Indeed, the \circ thing (probably a new one added later) was the issue. New output from
`runtests('cjtDataSheetGeneratorTest/testTorqueSpeedCurve')`:

[code]

Fixed.

[2018-07-23 12:34] #50 closed, assigned to nobody

[2018-07-23 13:45] geez0x1 commented on #52
Fixed in 2dc8ada.

The delay value inside the actual delay block is computed so that it is >0 when delay is DISABLED,
to avoid MATLAB throwing warnings unnecessarily. Depending on whether delay is actually enabled the signal is routed around the block or through it.

[2018-07-23 14:23] geez0x1 commented on #52
Also fixed for electrical model blocks in 8dd9c29ae34234d442db7da6dc4aee19a674f69e. Also checked the `jointBus` variables that are used: The electrical dynamics correctly use the true (`NoNoise`) velocity of the rotor, and the current controller uses the motor velocity variable that it should have access to (which may be polluted by delays, noise, etc).

[2018-07-23 14:23] #52 closed, assigned to nobody

[2018-07-23 14:27] geez0x1 commented on #53
Leaving a note here to say that the tests in `cjtSimulinkLibraryTest` need to be re-enabled once this is fixed.

[2018-07-23 15:07] geez0x1 commented on #51
The problem appears to lie in the model settings; the test you referenced as an example, `cjtSimulinkLibraryTest/testBuiltJoint`, references a file `simulinkBlockLibraryTest.mdl`, which had a setting enabled on the solver page called **"Treat each discrete rate as a separate task"**.

As far as I can tell, this is a non-standard option (it is off for me for new Simulink models), which is also only

[2018-07-23 15:45] #51 closed, assigned to geez0x1

[2018-07-23 15:48] geez0x1 opened #54 "Using zero-inductance electrical dynamics and no input/output delays anywhere, an algebraic loop exists."
When using the electrical dynamics block together with the mechanical dynamics, and the following conditions are met:

- zero inductance electrical model is used (direct feed-through), and;
- the mechanical dynamics block has no input delay set;

then al algebraic loop exists due to the feedback of rotor velocity for back-EMF. Current working example: `runtests('cjtSimulinkLibraryTest/testBuiltJoi

[2018-07-23 15:59] geez0x1 commented on #37
That was a different issue, specific to that model: #51.

[2018-07-23 15:59] #37 closed, assigned to geez0x1

[2018-07-23 16:22] #54 closed, assigned to nobody

[2018-07-23 16:26] geez0x1 commented on #52
Note this may still be an issue in rare cases for the output delays. Haven't consistently seen this though.

[2018-07-24 06:51] joernmalzahn commented on #36
You mean to mention our effort for backwards compatibility in the paper?

[2018-07-24 06:52] joernmalzahn commented on #44
@geez0x1 Would you be happy to close this now?

[2018-07-24 08:08] geez0x1 commented on #36
No I mean to ensure that the version committed for the paper (both on Github and Code Ocean) are backwards compatible and identical.

[2018-07-24 08:13] joernmalzahn commented on #36
Ok, that's no big deal.

[2018-07-24 11:07] geez0x1 commented on #44
I had a look at `cjt_Orange_80`. The parameters are mostly fine, just Coulomb friction is quite high (5.92 Nm vs 3.54 Nm on `CE_Med`), but not crazy unrepresentative. Closing then.

[2018-07-24 11:07] #44 closed, assigned to nobody

[2018-07-24 12:19] geez0x1 commented on #53
This is an interesting issue. The systems used in the examples (`output_fixed`) are not observable due to the secondary input.

[2018-07-24 14:16] joernmalzahn opened #55 "Rename "Fixed Output" models"
The name "Fixed Output" is misleading. The models capture an actuator that connected to something *very heavy*, that would instantaneously create a reaction torque to any actuator effort passing through the elastic element. The actuator is however not literally **fixed** as it was rigidly connected to a wall.
This way, it can be used to impose an output motion, that the actuator can only react to

[2018-07-25 09:01] geez0x1 opened #56 "Unit tests with noise - checksum computation?"
We compute checksums based on output data, but in some cases noise is enabled. I'm not sure what the source of entropy is for MATLAB's noise generator, or whether it depends on platform. On a single platform, single version, MATLAB will produce reproducible noise (`rand()`) on every startup unless instructed to re-seed properly (very misleading behaviour actually).

Can we be sure that the "Band-l

[2018-07-25 10:45] joernmalzahn commented on #56
Hmm, that is a tricky one. No immediate idea. For most tests, we can
    just make sure, no noise is involved. But the noise generation and
    its effect on the rest of the code should be tested as well.

    Requires some study of the noise generator functions...

*wes: edited to remove mangling by email client..*

[2018-07-25 12:06] geez0x1 commented on #53
This has been fixed by somewhat of a workaround for the Kalman observer, and properly for the Luenberger observer. Both examples and unit tests work now: b6819be16f3a01ada97b4e49b54c416c9d4e20d1...c5b0095f29442c74fc8b436ce251762a8bc2bc7b.

[2018-07-25 12:06] #53 closed, assigned to nobody

[2018-07-25 13:34] geez0x1 commented on #55
I agree that the terminology is misleading and that it should be clarified. The main function of these models is to allow connection of the actuator model to other dynamic models, e.g. complex articulated robot dynamics, other actuators, specific motion profiles (e.g. to simulate an assistive device where the human imposes the motion for the most part), and also the "infinitely heavy" case where q

[2018-07-25 16:40] geez0x1 opened #57 "Look more into discretisation methods"
Similar to what was done for the DOBs, discretisation methods should be investigated for the other observers, and where necessary controllers. We currently use the Tustin transform nearly everywhere, originally due to its usually superior results in the frequency domain; however it often contains direct feed-through which can lead to algebraic loops.

One such example is the Luenberger observer as

[2018-07-26 09:05] joernmalzahn opened #58 "sfsave in ModelCloseFcn callback throws warnings when closing block diagram"
[code]

The warning occurs, when a model with the jointMechanicalSubsystem block is closed.

likely related to #15

[2018-07-26 09:06] geez0x1 opened #59 "Stop MATLAB from throwing warnings when delays are zero"
Implement a similar fix as was done for the input delay (using a subsystem with enable) to avoid MATLAB throwing unnecessary warnings when output delays are zero in the mechanical dynamics block.

To be done when the current unit test issues are sorted out.

[2018-07-27 09:06] geez0x1 commented on #59
Fixed in 7a74d9f137193fed64f6f716693adcef19b3e540.

[2018-07-27 09:27] geez0x1 commented on #59
Unmerging from master through `revert` because it does in fact change the output somehow. This can be fixed later.

The fix implemented in 7a74d9f137193fed64f6f716693adcef19b3e540 appears to cause algebraic loops. Simulation also slows down significantly, indicating there are some steps being undertaken to solve an algebraic loop.

I have also noticed in other models that simulation time can depen

[2018-07-27 10:41] #58 closed, assigned to nobody

[2018-07-27 10:42] joernmalzahn commented on #15
I have not seen any recovered stateflow char block in quite a while. @geez0x1 Is this still happening to you?

The error messages that you quote are gone with #58

[2018-07-27 11:13] geez0x1 commented on #36
This works and is used.

[2018-07-27 11:13] #36 closed, assigned to geez0x1

[2018-07-27 11:17] geez0x1 commented on #15
Yes this still happens to me. A reliable way to reproduce it seems to be opening a model (that does not have orphaned StateFlow charts), simulating it, saving it, and closing it. Re-opening will then show an orphaned chart.

Removing the chart, saving, closing, and repeating a second time, appears to fairly reliably remove the orphaned chart.

[2018-07-27 11:22] geez0x1 commented on #59
Transplanted throught by @joernmalzahn from another thread:

The warning is issued, because the input delay defaults to 0 sample steps. Would one sample step be a reasonable default value in general? I mean, when we interface the toolbox with hardware through some EtherCAT or whatever, we have this one sample step.

[2018-07-30 09:33] geez0x1 commented on #59
Transplanted comment by @joernmalzahn from another thread:

Ok, this is done. I did the following:

- unified the solvers to variable step solvers (ode45), this removes short delay warnings
- moved memory block in the electrical subsystem from the velocity input to the direct feedthrough branch, this solves the algebraic loop
- removed output text for example_00
- added a memory block in the algeb

[2018-07-30 09:37] geez0x1 commented on #59
Nice work.

Clever solution to put the memory block in the feed-through path. This ensures it's only used when `D != 0`, i.e. the zero-inductance electrical dynamics model.

[2018-07-30 09:38] #59 closed, assigned to geez0x1

[2018-08-30 11:46] VishnuDevA7 opened #60 "Feature Request : Friction compensation gain for the passivity based controller"
There is no provision for setting a gain for the compensation of measured friction as in the original LeTien's observer paper. This would be useful as a gain of 0.99 is suggested by the author to maintain passivity of the friction compensator.

[2018-08-30 14:02] VishnuDevA7 opened #61 "Link dynamics incorporation"
While using any of the "locked_output" models from the library with the mechanical subsystem block, through the q_l_dot input, I am feeding the link velocity after a forward link dynamics operation. The user would naturally expect to see non-zero link position or velocity when the motor is moved (in this case, the link is not locked anymore, the link velocity is fed through the inputs). However, t

[2018-08-31 06:24] geez0x1 commented on #61
I'm not sure what you're doing and why you're confused by the results you see. From what I understand you close the tau -> q_l_dot loop through a load admittance (say Y(s) = s q_l(s) / tau(s)), which is indeed its intended use. From what you've written I'm assuming you're then looking at the load velocity/position outputs on the `jointBus` of the actuator, which is correct.

Allow me to paste a bi

[2018-08-31 08:29] VishnuDevA7 commented on #61
Oh yeah, I found a bug in my simulation. So, its not a bug with CJT. My bad, cheers!

[2018-08-31 08:29] #61 closed, assigned to geez0x1

[2018-09-07 07:53] VishnuDevA7 opened #62 "Inspect Examples window - naming issue"
When you run the Take_A_Tour.m file, in the end, an inspector window opens showing you the list of some examples. Among them, in the right side top window, the last three examples share the same name although each of them opens different Simulink files. Those examples have to be renamed appropriately!

[2018-09-10 12:24] geez0x1 opened #63 "The jointBuilder allows to specify invalid electrical dynamics model names"
The jointBuilder allows to specify invalid electrical dynamics model names.

[2018-09-10 13:00] geez0x1 opened #64 "bode_tuyplot resample functionality"
In some rare cases, the `resample` functionality of `bode_tuyplot` (and possibly `bode2`) can crash, depending on the frequency range chosen in `bodeOpt.XLim`:
[code]

[2018-09-10 14:07] geez0x1 opened #65 "Nonlinear output components"
Currently the nonlinear models can only apply torques internally, i.e. `x_dot = A * x + f(x)`. However in the more general sense, we could enable the more general:
[code]
This is necessary to implement some functionality particularly ones that affect output torque.

[2018-09-10 14:10] geez0x1 opened #66 "Removal of _no_friction models"
The _no_friction models serve very little purpose in my opinion; they can be just as easily achieved by setting the friction parameters to zero in a parameter file or the built joint. Additionally, the nonlinear dynamics models do not currently support these models. Hence, I would suggest removing them.

@joernmalzahn Please let me know whether you agree.

[2018-09-18 09:32] #62 closed, assigned to nobody

[2018-10-30 09:33] geez0x1 commented on #66
@joernmalzahn ?

[2018-10-30 20:58] joernmalzahn commented on #66
Fine with me.

[2018-11-16 11:40] joernmalzahn opened #67 "Add support for data based model parameter identification"
A challenge in compliant actuator modelling is to actually obtain all  the parameters of the actuator required by the models.  For some parameters this is straightforward, for others it is not. It would be a nice feature of the toolbox, if it would support the process of parameter identification through a module that implements common methods for experiment design and identification.

[2018-11-16 12:16] joernmalzahn opened #68 "Add an example on how to interface with SimScape"
It would be nice to complement the list of examples provided with the CJT by a particular example demonstrating how to interface with SimScape.

[2018-11-19 10:37] geez0x1 commented on #65
First working version for this can be found in `dev_nonlinear_component_outputs`.

[2019-01-16 14:31] geez0x1 commented on #66
Done

[2019-01-16 14:31] #66 closed, assigned to nobody

[2019-01-17 12:58] geez0x1 commented on #65
After some more testing this has now been merged into master in 131eb8c387ec60fe044eb6ae8aa434db2f356b4f.

[2019-01-17 12:58] #65 closed, assigned to nobody

[2019-01-17 13:35] geez0x1 commented on #47
I've fixed a few issues with regards to this in ef5ab51da217727e6611bbbf8bbc86b2a138432b. The `output_fixed` model had an issue in how the damping term was computed in state-space, and in construction of the `jointBus` the damping component was incorrectly included in TorqueFiltered (which is a sensed signal of the torque, and as we consider deflection/stiffness measurements for torque it should n

[2019-02-19 13:06] geez0x1 opened #69 "PD-type controllers: Allow for derivative action on either control error or on plant output"
This is useful in some cases as it avoids a zero in the closed-loop transfer function and results in 40 dB/dec roll-off (for a PD applied to a fixed-output plant) as opposed to 20 dB/dec. Does seem to require higher gains for the same bandwidth (as the zero isn't there to 'push' the response up before the roll-off from the poles occurs), but doesn't saturate inputs as easily towards higher frequen

[2019-09-20 12:01] Mohammed20PHD opened #70 "Problem run a CompliantJointToolbox with matlab2018a"
Hi, I am New user for CompliantJointToolbox And I tried to run the toolbox with windows 10 matlab2018a, but I got some error as shown below
Can you help me to fix this problem??

Added Compliant Joint Toolbox (CJT) paths.
---------------------------------------------------------------------------

Error using jointBuilder/buildJoint (line 206)
jointBuilder.buildJoint error: Nonlinear model 'coulom

[2019-09-23 08:47] geez0x1 commented on #70
Dear Mohammed, thanks for reporting your issue. Let's see if we can find the cause. As far as I can see you are dealing with two issues:

- `jointBuilder.buildJoint error: Nonlinear model 'coulomb' does not exist!` in `Take_A_Tour`, and
- ` Reference to non-existent field 'activeListbox'.` in `cjtExamples`.

Let's focus on the first one first. Can you verify that the following file exists in your

[2019-09-23 09:07] geez0x1 opened #71 "cjtExamples initial state causes issues due to no list item selected"
From a user's report in #70:

[code]

The issue arises in `cjtExamples` on lines 239 in `localOpen_callback` and 267 in `localRun_callback`, callbacks for the "Open Example" and "Run Example" buttons. The `activeListBox` field is not defined if the user has not interacted with the fields yet.

Solution:
The most preferable solution would be to grey out the buttons, and to have nothing selected (vi

[2019-09-23 09:58] Mohammed20PHD commented on #70
Dear Dr. RoozingThank you for your reply, I checked the file in the path  models/nonlinear/coulomb.m and I found the file. In the attached file below
Best Regards

%COULOMB Calculate Coulomb friction torques
%
% [ tau, y ] = coulomb(jointObj, x)
%
% jointObj is the instance of the joint class object for which this
% function has been called.
%
%
% Inputs::
%   x: state vector depending on the mode

[2019-09-23 15:34] Mohammed20PHD commented on #71
Dear Mohammed, thanks for reporting your issue. Let's see if we can find the cause. As far as I can see you are dealing with two issues:

jointBuilder.buildJoint error: Nonlinear model 'coulomb' does not exist! in Take_A_Tour, and
Reference to non-existent field 'activeListbox'. in cjtExamples.
Let's focus on the first one first, since it might actually lead to the second one. Can you verify that

[2019-09-24 07:44] geez0x1 commented on #70
Dear Mohammed, thanks for checking. If the file exists, it appears to not be found due to another reason. Can you verify the following two things:
- Are you trying to execute these steps from the **main directory** of CJT, i.e. where the file `setCJTPaths.m` is located?
- If so, what output does `help coulomb` produce?

**edit**: Please try pulling the latest version of the toolbox first. We have

[2019-09-24 08:12] geez0x1 commented on #71
Fixed by #72 and #73.

[2019-09-24 08:12] #71 closed, assigned to nobody

[2019-09-26 05:42] geez0x1 opened #74 "Automatic computation of derivative gain is too high when a compensation term is used"
When setting `Kd=-1` as argument to `get_controlled_closed_loop()`, the derivative gain is automagically computed to obtain a desired damping ratio `zeta` (another argument) for 2nd order plants. However, when `ff_comp_switch='comp'`, i.e. a spring force compensation term is included, the derivative gain computation is not taking that into account.

[2019-09-26 06:44] geez0x1 opened #75 "DOBs can change DC gain by a small amount"
Both the open-loop as well as the closed-loop DOB can change the DC gain of the controlled system by a small amount, which should not be the case. In a repeating block wave reference torque, it reduces the DC gain by roughly 0.25% in one example case, comparably for both controllers. As an example see the `dev_bug_75` branch. The joint model does not include nonlinear dynamics.

[2019-09-26 08:29] geez0x1 commented on #69
@joernmalzahn : This work has now been merged into master. I still have issues with running Simulink unit tests, my computed hashes always differ. Before I close this, could you perhaps run them once to confirm all hashes are still valid? I've checked the models, and as the default setting for the derivative action is identical to before, the hashes should be the same.

However, some examples(and

[2019-10-16 14:17] geez0x1 commented on #70
@Mohammed20PHD Any updates?

[2019-10-16 15:05] Mohammed20PHD commented on #70
Dear Dr. Roozing
Thank you for your question
I solved the problem as you recommended and the error disappeared.
I want to ask you I work with QBmove advance actuator, How can I benefit from this toolbox with the QBmove actuator? any advice or recommendations

Thank you very much

[2019-10-23 10:10] Mohammed20PHD commented on #70
@geez0x1  I want to ask you I work with QBmove advance actuator,
How can I benefit from this toolbox with the QBmove actuator in designing a controller?
any advice or recommendations

Thank you very much

[2019-10-23 14:25] joernmalzahn commented on #70
@Mohammed20PHD: I have never worked with the QBmove actuator. But if you are able to communicate with it through the means Mathworks Simulink RealTime offers, then you will generally be able to deploy all controllers of the compliant joint toolbox with it.

If you do not have the chance to communicate with the actuator through this way, you can still benefit from the toolbox by creating a paramete

[2019-10-23 14:26] joernmalzahn commented on #70
I'll close this as it seems to be resolved.

[2019-10-23 14:26] #70 closed, assigned to nobody

[2019-10-23 15:01] Mohammed20PHD commented on #70
@joernmalzahn Thank you very much for a nice answer,
Yes, I can use the means Mathworks Simulink RealTime to work with QBmove and I will try to deploy all controller of the compliant joint toolbox with it.
Best Regards

[2020-01-10 19:17] geez0x1 opened #76 "Nonlinear models require an entry for each parameter in the genericJoint class"
Nonlinear models require an entry for each parameter in the `genericJoint` class. As the number of possible nonlinear dynamics components grows this becomes a rather long list. We should only require that the parameters are present in the parameters file of the joint at build time. Nonlinear models could specify a list of required variables, which can be checked by the `jointBuilder` at build time

[2020-01-10 19:26] geez0x1 commented on #63
This has been fixed for a while.

[2020-01-10 19:26] #63 closed, assigned to geez0x1

[2020-02-19 13:22] VishnuDevA7 opened #77 "BEMF term in the Current Controller model"
The current controller model in the cjt_library_controllers.mdl contains a gain (1/k_t) that multiplies the motor velocity to compute the back-EMF compensation term. Is this right? Shouldn't the gain instead be k_t ?

Back-EMF = k_t * motor velocity

[2020-02-24 08:21] geez0x1 commented on #77
Yep that seems to be a bug... sloppy. I will try to look into this soon, but for now you can simply invert that gain.

[2021-02-12 02:47] sarcos-garrison opened #78 "Stiction and Stribeck Velocity range unused"
In the genericJoint.m file, Stribeck velocity and stiction are two parameters that are never used later.

[2022-03-09 09:50] junjun55 opened #79 "How to figure Torque-frequency diagram for different load inertias?"
I want to learn about  the feasible torque bandwidth for electrically driven torque controllable . Can the simulation analysis code of this article “What is the Torque Bandwidth of this Actuator?”be added?

[2022-03-09 21:14] joernmalzahn commented on #79
Hi Junjun,

not sure, if I get your question right. Please have a look at [this part of the documentation](https://github.com/geez0x1/CompliantJointToolbox/wiki/Torque-Bandwidth-Map). It details the torque bandwidth maps. Probably the second graph is what you would like to achieve?

For the code, have a look at `dataSheetGenerator.m` starting from line 377:

[code]

[2022-03-10 01:35] junjun55 commented on #79
That's it!  Many thanks for your clarification! Your research is very worthy learning for me!

[2022-03-10 15:17] joernmalzahn commented on #79
You are welcome.

[2022-03-10 15:17] #79 closed, assigned to nobody

[2022-03-18 09:31] junjun55 opened #80 "How to understand the Torque-frequency diagram ?"
Hi！
  I am studying this paper     ‘‘What is the Torque Bandwidth of this Actuator?’’ .There are three doubts.
First,
<img width="351" alt="image" src="https://user-images.githubusercontent.com/43669192/158971816-1a4a99d0-752d-49cd-8896-4b4adab1340b.png">
this diagram indicates :Relationship between peak torque at 0-100hz frequency input and  the output of  actuator?  (only consider the red line)

[2022-03-21 03:41] junjun55 commented on #80
I'm making myself clear？Look forward to remove my doubts.